/* Start styles for all pages  */

img {
    width: 100%;
    height: 100%;
}


/* End styles for all pages */


/* Start styles for index page  */

.index-logo-container {
    width: 25%;
    height: auto;
}


/* End styles for index page */


/* Start styles for media queries  */

@media (min-width:576px) {

    .index-logo-container {
        width: 20%;
    }

}


/* End styles for media queries */